<div class="container">
  <div class="row">
    <h1>Cadastro de Funcionarios</h1>
    <a>Aqui ficarão a listas dos funcionarios</a>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
         <a href="#" class="btn btn-success">Cadastrar um novo Funcionario</a>
<table class="table table-striped table-hover">

  <thead>
      <tr>
        <th>Nome</th>
        <th>Login</th>
        <th>setor</th>
        <th>CPI</th>
        <th>IDCPU</th>
        <th>SO</th>
        <th>RAM</th>
        <th>Disco</th>
        <th>Marca</th>
        <th>Modelo</th>

        <th>Editar</th>
        <th>Deletar</th>
      </tr>
  </thead>
  <tbody>
     <!-- <tr *ngFor = "let c of funcionario"> -->
 <!-- <td>{{c.nome}}</td>
 <td>{{c.email}}</td>
 <td>{{c.telefone}}</td> -->
 <tr>
  <th>Vinicius</th>
  <th>vsantos</th>
  <th>semax</th>
  <th>amd6300</th>
  <th>1</th>
  <th>windows7</th>
  <th>1024</th>
  <th>2058</th>
  <th>ssk</th>
  <th>ssd</th>


      <td><button class="btn btn-danger">Editar</button></td>
      <td><button class="btn btn-danger">Deletar</button></td>
    </tr>
  </tbody>
  <tbody>
    <!-- <tr *ngFor = "let c of funcionario"> -->
<!-- <td>{{c.nome}}</td>
<td>{{c.email}}</td>
<td>{{c.telefone}}</td> -->
<tr>
  <th>Vinicius</th>
        <th>vsantos</th>
        <th>semax</th>
        <th>amd6300</th>
        <th>1</th>
        <th>windows7</th>
        <th>1024</th>
        <th>2058</th>
        <th>ssk</th>
        <th>ssd</th>


        <td><button class="btn btn-danger">Editar</button></td>
        <td><button class="btn btn-danger">Deletar</button></td>
   </tr>
 </tbody>
 <tbody>
  <!-- <tr *ngFor = "let c of funcionario"> -->
<!-- <td>{{c.nome}}</td>
<td>{{c.email}}</td>
<td>{{c.telefone}}</td> -->
<tr>
<th>Vinicius</th>
<th>vsantos</th>
<th>semax</th>
<th>amd6300</th>
<th>1</th>
<th>windows7</th>
<th>1024</th>
<th>2058</th>
<th>ssk</th>
<th>ssd</th>


   <td><button class="btn btn-danger">Editar</button></td>
   <td><button class="btn btn-danger">Deletar</button></td>
 </tr>
</tbody>
<tbody>
  <!-- <tr *ngFor = "let c of funcionario"> -->
<!-- <td>{{c.nome}}</td>
<td>{{c.email}}</td>
<td>{{c.telefone}}</td> -->
<tr>
  <th>Vinicius</th>
  <th>vsantos</th>
  <th>semax</th>
  <th>amd6300</th>
  <th>1</th>
  <th>windows7</th>
  <th>1024</th>
  <th>2058</th>
  <th>ssk</th>
  <th>ssd</th>


   <td><button class="btn btn-danger">Editar</button></td>
   <td><button class="btn btn-danger">Deletar</button></td>
 </tr>
</tbody>
</table>
